<div class="knowledge-categories-grid__tile" data-category="{{Name}}" data-active>

    <div class="knowledge-categories-grid__tile-inner">
    
        <a href="#!/synthetix/knowledge/component/category/{{NameEncoded}}" class="knowledge-categories__category--{{NameClass}}">
    
            <div class="knowledge-category__title-wrap">
                <h4 class="knowledge-category__title">{{Name}}</h4>
            </div>
    
            <div style="background-image: url({{ImageURL}})" class="knowledge-category__background--{{NameClass}}"></div>
    
        </a>
    
    </div>

</div>