<section class="knowledge-body content-container--sml">
	
	<div class="knowledge-body__inner">
		
		<div class="knowledge-body__container" data-slide="questions">
			
			<div class="knowledge-body__container-item--questions" data-slide="questions" aria-hidden="false">
				
				<div class="knowledge-body__questions-outer">
					
					<div class="knowledge-body__questions">

						<section class="search-results" data-search-state="hidden">
							
							<div class="search-results__inner">
								
								<h2 class="search-results__title">{{HeadingSearch}}<span data-knowledge-search-query></span></h2>
								
								<div class="search-results__cont">
						
									<ul class="search-results__list" data-search-results></ul>
									
									<div class="search-results__empty">
										<h3>Unfortunately your search query has returned no results.</h3>
									</div>

								</div>
						
							</div>
						
						</section>

						<section class="knowledge-categories">
							
							<h2 class="knowledge-categories__title">{{HeadingCategory}}</h2>
							
							<div class="knowledge-categories-grid" data-knowledge-categories>
							</div>

						</section>

						<section class="knowledge-questions">

							<h2 class="knowledge-questions__title" data-top-faq-title>Popular <span data-knowledge-category-select></span> questions</h2>
							
							<div class="knowledge-questions__cont">
								<ul class="knowledge-questions__list" data-top-knowledge-list></ul>
							</div>
						
						</section>

					</div>

				</div>

			</div>

			<div class="knowledge-body__container-item--article" data-slide="article" aria-hidden="true">

				<div class="knowledge-body__article-outer">

					<div class="knowledge-body__article">

						<div class="article__navigation">
						</div>

						<div class="article__content--wrapper" data-article-content>
						</div>

						<div class="article__feedback" data-feedback>

							<form
							action="./"
							method="POST"
							data-manual-submit="false"
							data-success-submit="false"
							data-form="knowledge-feedback">
								<input type="hidden" name="label">
								<fieldset></fieldset>
								<button type="submit" name="submit">{{FeedbackSubmit}}</button>
							</form>

						</div>
			
					</div>
			
				</div>
			
			</div>

		</div>
	
	</div>

</section>