<section class="knowledge-body content-container--sml">
	
	<div class="knowledge-body__inner">
		
		<div class="knowledge-body__container" data-slide="sled">
			
			<div class="knowledge-body__container-item--questions">
				
				<div class="knowledge-body__questions-outer" data-slide="questions">
					
					<div class="knowledge-body__questions">

						<section class="search-results" data-state="hidden">
							
							<div class="search-results__inner">
								
								<h2 class="search-results__title">{{HeadingSearch}}</h2>
								
								<div class="search-results__cont" data-search-results>
						
									<ul class="search-results__list">

									</ul>
						
								</div>
						
							</div>
						
						</section>

						<section class="knowledge-categories">
							
							<h2 class="knowledge-categories__title">{{HeadingCategory}}</h2>
							
							<div class="knowledge-categories-grid" data-knowledge-categories>
							</div>

						</section>

						<section class="knowledge-questions">

							<h2 class="knowledge-questions__title" data-top-faq-title>{{HeadingPopular}}</h2>
							
							<div class="knowledge-questions__cont">
								<ul class="knowledge-questions__list" data-top-knowledge-list></ul>
							</div>
						
						</section>

					</div>

				</div>

			</div>

			<div class="knowledge-body__container-item--article">

				<div class="knowledge-body__article-outer" data-slide="article">

					<div class="knowledge-body__article">

						<div class="article__navigation">
						</div>

						<div class="article__content--wrapper" data-article-content>
						</div>

						<div class="article__feedback" data-feedback="container">

						</div>
			
					</div>
			
				</div>
			
			</div>

		</div>
	
	</div>

</section>