.synthetix-iso {
    color: black;
    font-size: 16px;
    line-height: 1.428571429;
    background-color: transparent;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.synthetix-iso address,
.synthetix-iso blockquote,
.synthetix-iso dd,
.synthetix-iso div,
.synthetix-iso dl,
.synthetix-iso dt,
.synthetix-iso fieldset,
.synthetix-iso form,
.synthetix-iso frame,
.synthetix-iso frameset,
.synthetix-iso h1,
.synthetix-iso h2,
.synthetix-iso h3,
.synthetix-iso h4,
.synthetix-iso h5,
.synthetix-iso h6,
.synthetix-iso noframes,
.synthetix-iso ol,
.synthetix-iso p,
.synthetix-iso ul,
.synthetix-iso center,
.synthetix-iso dir,
.synthetix-iso hr,
.synthetix-iso menu,
.synthetix-iso pre {
    display: block;
    unicode-bidi: embed;
}

.synthetix-iso li {
    display: list-item;
}

.synthetix-iso table {
    display: table;
}

.synthetix-iso tr {
    display: table-row;
}

.synthetix-iso thead {
    display: table-header-group;
}

.synthetix-iso tbody {
    display: table-row-group;
}

.synthetix-iso tfoot {
    display: table-footer-group;
}

.synthetix-iso col {
    display: table-column;
}

.synthetix-iso colgroup {
    display: table-column-group;
}

.synthetix-iso td,
.synthetix-iso th {
    display: table-cell;
}

.synthetix-iso caption {
    display: table-caption;
}

.synthetix-iso th {
    font-weight: bolder;
    text-align: center;
}

.synthetix-iso caption {
    text-align: center;
}

.synthetix-iso h1 {
    font-size: 2em;
    margin: .67em 0;
}

.synthetix-iso h2 {
    font-size: 1.5em;
    margin: .75em 0;
}

.synthetix-iso h3 {
    font-size: 1.17em;
    margin: .83em 0;
}

.synthetix-iso h4,
.synthetix-iso p,
.synthetix-iso blockquote,
.synthetix-iso ul,
.synthetix-iso fieldset,
.synthetix-iso form,
.synthetix-iso ol,
.synthetix-iso dl,
.synthetix-iso dir,
.synthetix-iso menu {
    margin: 1.12em 0;
}

.synthetix-iso h5 {
    font-size: .83em;
    margin: 1.5em 0;
}

.synthetix-iso h6 {
    font-size: .75em;
    margin: 1.67em 0;
}

.synthetix-iso h1,
.synthetix-iso h2,
.synthetix-iso h3,
.synthetix-iso h4,
.synthetix-iso h5,
.synthetix-iso h6,
.synthetix-iso b,
.synthetix-iso strong {
    font-weight: bolder;
}

.synthetix-iso blockquote {
    margin-left: 40px;
    margin-right: 40px;
}

.synthetix-iso i,
.synthetix-iso cite,
.synthetix-iso em,
.synthetix-iso var,
.synthetix-iso address {
    font-style: italic;
}

.synthetix-iso pre,
.synthetix-iso tt,
.synthetix-iso code,
.synthetix-iso kbd,
.synthetix-iso samp {
    font-family: monospace;
}

.synthetix-iso pre {
    white-space: pre;
}

.synthetix-iso button,
.synthetix-iso textarea,
.synthetix-iso input,
.synthetix-iso select {
    display: inline-block;
}

.synthetix-iso big {
    font-size: 1.17em;
}

.synthetix-iso small,
.synthetix-iso sub,
.synthetix-iso sup {
    font-size: .83em;
}

.synthetix-iso sub {
    vertical-align: sub;
}

.synthetix-iso sup {
    vertical-align: super;
}

.synthetix-iso table {
    border-spacing: 2px;
}

.synthetix-iso thead,
.synthetix-iso tbody,
.synthetix-iso tfoot {
    vertical-align: middle;
}

.synthetix-iso td,
.synthetix-iso th,
.synthetix-iso tr {
    vertical-align: inherit;
}

.synthetix-iso s,
.synthetix-iso strike,
.synthetix-iso del {
    text-decoration: line-through;
}

.synthetix-iso hr {
    border: 1px inset;
}

.synthetix-iso ol,
.synthetix-iso ul,
.synthetix-iso dir,
.synthetix-iso menu,
.synthetix-iso dd {
    margin-left: 40px;
}

.synthetix-iso ol {
    list-style-type: decimal;
}

.synthetix-iso ol ul,
.synthetix-iso ul ol,
.synthetix-iso ul ul,
.synthetix-iso ol ol {
    margin-top: 0;
    margin-bottom: 0;
}

.synthetix-iso u,
.synthetix-iso ins {
    text-decoration: underline;
}

.synthetix-iso br:before {
    content: "\A";
    white-space: pre-line;
}

.synthetix-iso center {
    text-align: center
}

.synthetix-iso :link,
.synthetix-iso :visited {
    text-decoration: underline;
}

.synthetix-iso :focus {
    outline: thin dotted invert;
}

/*

    Structure

*/

.synthetix-iso *,
.synthetix-iso *::after,
.synthetix-iso *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.synthetix-iso [data-search-state="hidden"] {
    display: none;
}

.synthetix-iso [data-search-state="show"] {
    display: block;
}

.synthetix-iso .sx_svg_icon {
    width: 100%;
    height: 100%;
    display: block;
}

.synthetix-iso .sx_svg_icon svg {
    width: 100%;
    height: 100%;
}

/*

    Category

*/

.synthetix-iso .knowledge-categories-grid {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: row;
}

.synthetix-iso .knowledge-categories-grid__tile-inner {
    border: .4em solid transparent;
}

.synthetix-iso .knowledge-categories-grid .knowledge-categories-grid__tile {
    margin: 0;
}

.synthetix-iso .knowledge-categories-grid [class*="knowledge-categories__category"] {
    height: 10em;
    display: flex;
    overflow: hidden;
    border: .3em solid;
    position: relative;
    border-radius: .3em;
    align-items: flex-end;
    text-decoration: none;
    width: calc(14em - .2em);
}

.synthetix-iso .knowledge-categories-grid .knowledge-categories-grid__tile-inner {
    border: .4em solid transparent;
}

.synthetix-iso .knowledge-categories-grid .knowledge-category__title {
    color: inherit;
}

.synthetix-iso .knowledge-categories-grid .knowledge-category__title-wrap {
    width: 100%;
    color: white;
    padding: 0 0 0 1em;
    background-color: #000;
}


/*

    Search

*/

.synthetix-iso .knowledge-header {
    padding: 5em 0;
    position: relative;
}

.synthetix-iso .knowledge-header__search .filter-bar,
.synthetix-iso .knowledge-header__search .filters-container,
.synthetix-iso .knowledge-header .knowledge-header__search-field-wrapper {
    width: 64%;
}

.synthetix-iso .knowledge-header__search .filter-bar {
    background-color: white;
    border-top: 1px solid black;
}

.synthetix-iso .knowledge-header .knowledge-header__search-field-wrapper {
    margin: 0 auto;
}

.synthetix-iso .knowledge-header__search .filter-bar,
.synthetix-iso .knowledge-header__search .filters-container {
    margin: 0 auto;
}

.synthetix-iso .knowledge-header__search .filters-container {
    display: none;
}

.synthetix-iso [data-knowledge-search-actions="filter"] .filters-container {
    padding: 1em;
    display: block;
    background-color: white;
    border-top: 1px solid black;
}

.synthetix-iso .knowledge-header .knowledge-header__search-field-wrapper input {
    border: 0;
    width: 100%;
    padding: 1.24em;
    font-size: 1.24em;
    box-sizing: border-box;
}

.synthetix-iso .knowledge-header .knowledge-header__search-field-wrapper form {
    margin: 0 auto;
}

.synthetix-iso .knowledge-header .knowledge-header__search-field-wrapper button[type="submit"] {
    display: none;
}

.synthetix-iso .search-results__list,
.synthetix-iso .knowledge-questions__list {
    margin-left: 0;
    list-style: none;
}

.synthetix-iso .search-results__list li a,
.synthetix-iso .knowledge-questions__list li a {
    display: flex;
    font-size: 1.24em;
    padding: .5em .4em;
    align-items: center;
    text-decoration: none;
}

.synthetix-iso .search-results__list li + li,
.synthetix-iso .knowledge-questions__list li + li {
    border-top: 1px solid;
}

.synthetix-iso .search-results__list li a span:not(.sx_svg_icon),
.synthetix-iso .knowledge-questions__list li a span:not(.sx_svg_icon) {
    flex: 0 0 auto;
}

.synthetix-iso .search-results__list li a .sx_svg_icon,
.synthetix-iso .knowledge-questions__list li a .sx_svg_icon {
    width: 2em;
    height: 2em;
    margin-left: auto;
    transition: transform ease-in-out 300ms;
}

.synthetix-iso .search-results__list li a .sx_svg_icon svg,
.synthetix-iso .knowledge-questions__list li a .sx_svg_icon svg {
    fill: inherit;
    padding: .4em;
}

.synthetix-iso .search-results__list li a:hover .sx_svg_icon,
.synthetix-iso .knowledge-questions__list li a:hover .sx_svg_icon,
.synthetix-iso .search-results__list li a:focus .sx_svg_icon,
.synthetix-iso .knowledge-questions__list li a:focus .sx_svg_icon {
    transform: translate(.5em, 0);
}

/*

    Search Filter

*/

.synthetix-iso .filter-bar,
.synthetix-iso .filter-bar .filter-bar__curr-filters {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    vertical-align: middle;
}

.synthetix-iso .filter-bar .filter-bar__menu-btn {
    border: 0;
    width: 3.4em;
    height: 3.4em;
    flex: 0 0 auto;
    display: block;
    margin: 0 1em 0 0;
    background-color: #000;
}

.synthetix-iso .filter-bar .filter-bar__menu-btn .sx_svg_icon svg {
    fill: #fff;
    padding: .8em;
}

.synthetix-iso .filters .filters__title {
    margin: 0 0 1em 0;
    position: relative;
    display: inline-block;
}

.synthetix-iso .filters .filters-masonry-grid__inner {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    flex-direction: row;
    scrollbar-width: none;
}

.synthetix-iso .filters .filters-masonry-grid__inner::-webkit-scrollbar {
    display: none;
}

.synthetix-iso .filters [class*="filters-masonry-grid__tile"] {
    flex: 0 0 auto;
}

.synthetix-iso .filters [class*="filters-masonry-grid__tile"] button {
    padding: .4em .6em;
    border: 1px solid black;
    background-color: transparent;
}

.synthetix-iso .filters [class*="filters-masonry-grid__tile"] + [class*="filters-masonry-grid__tile"] {
    margin: 0 0 0 1em;
}

.synthetix-iso .filters [class*="filters-masonry-grid__tile"] button[data-active="true"] {
    color: #fff;
    background-color: #000;
}

.synthetix-iso .filter-bar__curr-filter-list {
    display: flex;
    list-style: none;
    flex-direction: row;
}

.synthetix-iso .filters .filters__title::after {
    content: '';
    width: 150%;
    left: -.2em;
    height: .12em;
    bottom: -0.2em;
    position: absolute;
    background-color: black;
}

.synthetix-iso .filter-bar__curr-filters .filter-bar__curr-filter + .filter-bar__curr-filter {
    margin: 0 0 0 1em;
}

.synthetix-iso .filter-bar__curr-filters .filter-bar__curr-text {
    width: auto;
    flex: 0 0 auto;
}

.synthetix-iso .filter-bar__curr-filters .filter-bar__curr-filter-list {
    width: 100%;
    overflow-x: auto;
    flex-wrap: nowrap;
    scrollbar-width: none;
    margin: .4em 0 .4em 1em;
}

.synthetix-iso .filter-bar__curr-filters .filter-bar__curr-filter,
.synthetix-iso .filter-bar__curr-filters .filter-bar__curr-filter--placeholder {
    flex: 0 0 auto;
}

.synthetix-iso .filter-bar__curr-filters .filter-bar__curr-filter,
.synthetix-iso .filter-bar__curr-filters .filter-bar__curr-filter--placeholder {
    display: flex;
    color: white;
    padding: .4em .6em;
    align-items: center;
    flex-direction: row;
    background-color: black;
}

.synthetix-iso .filter-bar__curr-filters .filter-bar__curr-filter button {
    border: 0;
    color: inherit;
    line-height: 0;
    cursor: pointer;
    font-size: 1.24em;
    margin: 0 0 0 .4em;
    background-color: transparent;
}

.synthetix-iso .filter-bar__curr-filters .filter-bar__curr-filter-list::-webkit-scrollbar {
    display: none;
}

.synthetix-iso .filter-bar__curr-filters .filter-bar__curr-filter-list[data-filter-list="active"] .filter-bar__curr-filter--placeholder {
    display: none;
}

/*

    Knowledge articles area

*/

.synthetix-iso .knowledge-body__container {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    overflow-x: hidden;
    flex-direction: row;
    will-change: display, transform;
}

.synthetix-iso .knowledge-body__container-item--article {
    top: 0;
    height: 100%;
    background-color: #fdf9f4;
}

.synthetix-iso .knowledge-body__container-item--article,
.synthetix-iso .knowledge-body__container-item--questions {
    padding: 1em;
}

.synthetix-iso [data-slide] [class*="knowledge-body__container-item"] {
    transition: transform ease-in-out 300ms;
}

.synthetix-iso [data-slide] .knowledge-body__container-item--article,
.synthetix-iso [data-slide] .knowledge-body__container-item--questions {
    width: 100%;
    flex: 0 0 auto;
}

.synthetix-iso [data-slide="questions"] .knowledge-body__container-item--article,
.synthetix-iso [data-slide="questions"] .knowledge-body__container-item--questions {
    transform: translate(0%, 0);
}

.synthetix-iso [data-slide="article"] .knowledge-body__container-item--article,
.synthetix-iso [data-slide="article"] .knowledge-body__container-item--questions {
    transform: translate(-100%, 0);
}

.synthetix-iso [data-slide="article"] .knowledge-body__container-item--questions *,
.synthetix-iso [data-slide="questions"] .knowledge-body__container-item--article * {
    display: none;
}

/*

    Feedback

*/

.synthetix-iso .sx_knowledge_article_feedback label {
    padding: 1em;
    font-weight: 600;
    flex-direction: row;
    align-items: center;
    display: inline-flex;
}

.synthetix-iso .sx_knowledge_article_feedback textarea {
    width: 80%;
    display: block;
    resize: vertical;
    max-height: 33em;
    font-size: 1.24em;
    padding: .4em .6em;
    border-radius: .3em;
    border: .16em solid;
}

.synthetix-iso .sx_knowledge_article_feedback label input {
    display: none;
}

.synthetix-iso .sx_knowledge_article_feedback label .sx_label_text {
    padding: 0 1em 0 0;
}

.synthetix-iso .sx_knowledge_article_feedback label .sx_label_icon svg {
    width: 2em;
    height: 2em;
}

.synthetix-iso .sx_knowledge_article_feedback label input:checked ~ .sx_label_text,
.synthetix-iso .sx_knowledge_article_feedback label input:checked ~ .sx_label_icon svg {
    fill: red;
    color: red;
}

.synthetix-iso .sx_knowledge_article_feedback {
    transition: max-height linear 300ms;
}

.synthetix-iso .sx_knowledge_article_feedback ~ .sx_knowledge_article_feedback {
    max-height: 0;
    overflow: hidden;
    will-change: max-height;
}

.synthetix-iso .sx_knowledge_article_feedback[data-feedback-route="true"] + .sx_knowledge_article_feedback {
    max-height: 16em;
}

.synthetix-iso .article__feedback button[type="submit"] {
    padding: 1em;
    border: 2px solid;
    background-color: white;
}

.synthetix-iso .article__feedback fieldset {
    border: 0;
}

@media (max-width: 599px) {

}

@media (min-width: 600px) and (max-width: 899px) {

}

@media (min-width: 600px) {

}

@media (min-width: 900px) and (max-width: 1199px) {

}

@media (min-width: 900px) {

}

@media (min-width: 1200px) and (max-width: 1799px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1800px) {

}
